{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="content">
    <section class="top">
        <div class="logo">
            <img src="/static/img/logo-twitterblue.svg" alt="">
        </div>
        <div class="heading">
            <h1>Home</h1>
        </div>
    </section>
    <section class="posts_form">
        <div class="user_img">
            <img src="/static/img/sample-icon.jpeg" alt="">
        </div>
        <div class="form">
        <form action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      
        <input type="text" name="name" placeholder="Name" id="name" required>
        <textarea name="body" placeholder="What's happening?" rows="5" required></textarea>
        <input name="image" id="file" type="file">
        <input id="tweet" type="submit" value="Tweet">
       
   

        </form>
        </div>
    </section>
    <section class="posts">
    <ul>
        {% for post in posts reversed %}
        <li>
            <img class="menu_icon js-menu-icon" src="{% static 'img/option.png' %}" alt="">
            <div class="menu">
                <a href="/delete/{{ post.id }}">Delete</a><br>
                 <a href="edit/{{ post.id }}">edit</a>
            </div>
            <div class="logo">
            <img src="{% static 'img/sample-icon.jpeg' %}" alt="" style="border-radius: 50%;">

        </div>
        <div class="name_body">

            <div class="name">{{ post.name }}</div> <br>
            <div class="datetime">{{ post.created_at }}</div> <br>
            <div class="body">{{ post.body }}</div> <br>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="" style="width: 80%" class="postedimage" />
            {% endif %}
            
            <div>
            <a href="/like/{{ post.id }}" style="text-decoration: none;">
                {% if post.like_count == 0 %}
                <img src="/static/img/love.png" id="myImage" 
                alt="" style="width: 30px;"/>
                {% endif %}
                {% if post.like_count != 0%}
                <img src="/static/img/heart.png" id="myImage" 
                alt="" style="width: 30px;"/>
                {% endif %}
            </a>  
 
            
            {{post.like_count}}          
            
            </div>
        </div>
            
        </li>
        
        {% endfor %}
    </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.1.js" 
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
    crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
    
</section>


{% endblock %}
